<html xmlns:th="http://thymeleaf.org">  
    <table>
        <tr>  
            <td>Welcome</td>
            <td><h4 th:text="${stud.firstName}"></h4></td> 
            <td> Login Success!!!</td> 
        </tr>
    </table>  
    <table> 
    		<tr>
				<td>
					<button>
						<a style="text-decoration: none" href="/">Home</a>
					</button>
				</td>				
				<td>
					<button>
						<a style="text-decoration: none" href="register">Register</a>
					</button>
				</td>
				<td>
					<button>
						<a style="text-decoration: none" href="login">logout</a>
					</button>
				</td>
			</tr>
	</table>
</html>  