<html lang="en">  
    <head>  
        <title>Login</title>  
    </head>  
    <body>  
        <form action="loginStudent" method="post">  
            <table>  
                <tr>  
                    <td><label for="firstName">UserName</label></td>  
                    <td><input type="text" name="firstName" required="required"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="password">Password</label></td>  
                    <td><input type="password" name="password" required="required"></input></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Login"></input></td>  
                </tr>  
            </table>  
        </form> 
        <table> 
    		<tr>
				<td>
					<button>
						<a style="text-decoration: none" href="/">Home</a>
					</button>
				</td>
				<td>
					<button>
						<a style="text-decoration: none" href="register">Register</a>
					</button>
				</td>
			</tr>
		</table>
    </body>  
</html>  