<html lang="en">  
    <head>  
        <title>Register</title>  
    </head>  
    <body>  
        <form action="registerStudent" method="post">  
            <table> 
             	<tr>
             		<td colspan="2"><font color="red">Registration Failed.Please register again!!!</font></td>
             	</tr>	
                <tr>  
                    <td><label for="firstName">User Name</label></td>  
                    <td><input type="text" name="firstName" required="required"></input></td>  
                </tr> 
                 <tr>  
                    <td><label for="lastName">Last Name</label></td>  
                    <td><input type="text" name="lastName" required="required"></input></td>  
                </tr> 
                 <tr>  
                    <td><label for="age">Age</label></td>  
                    <td><input type="text" name="age" required="required" 
				pattern="[0-9]+([\.][0-9]+)?" title="Numbers Only"></input></td>  
                </tr> 
                 <tr>  
                    <td><label for="department">Department</label></td>  
                    <td><input type="text" name="department" required="required"></input></td>  
                </tr> 
                <tr>  
                    <td><label for="year">Year</label></td>  
                    <td><input type="text" name="year" required="required"></input></td>  
                </tr>   
                <tr>  
                    <td><label for="email">Email</label></td>  
                    <td><input type="text" name="email" required="required"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="password">password</label></td>  
                    <td><input type="password" name="password" required="required"></input></td>  
                </tr>
                <tr>  
                    <td><label for="confirmPassword">confirmPassword</label></td>  
                    <td><input type="password" name="confirmPassword" required="required"></input></td>  
                </tr>
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Register"></input></td>  
                </tr>  
            </table>  
        </form>
        <table>
		<tr>
			<td>
				<button>
					<a style="text-decoration: none" href="/">Home</a>
				</button>
			</td>
			<td>
				<button>
					<a style="text-decoration: none" href="/login">Login</a>
				</button>
			</td>
		</tr>
	</table>	
    </body>  
</html>  